<h1>Timelogs Show</h1>

<p>You clocked in at <%= @timelog.clock_in.to_formatted_s(:short) %> 
  <% if @timelog.clock_out.present? %> 
    and clocked out at <%= @timelog.clock_out.to_formatted_s(:short) %>
  <% end %>
</p>

